html,body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}
#root {
  min-height: 100%;
}

div#root{
  background-color: #fcb571; 
}

form{
  display: grid;
  margin-right: 15px;
}

.button{
  display: flex;
  justify-content: flex-end;
  margin: 25px 10px 10px 10px;
}

@media  screen  and (min-width: 640px) {
  #root {
      height: 100%;
  }
}

@media  screen  and (min-width: 140px) and (max-width:620px){

  h1{
    margin-left: 15px;
  }
  form{
    margin-left: 25px;
    margin-right: 25px;
  }
}

